{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{% block content %}

<div class="layout" data-layout="raclette">

<div>
<h1>{{ title }}</h1>
{{ main | safe }}
{{ content | safe }}

<hr>

</div><!-- one -->

<div>
<p data-size="s">Kasernenstr. 27<br>
3013 Bern</p>
<p><a href="tel:{{ site.telephone }}">{{ site.telephone }}</a></p>
</div><!-- two -->

</div><!-- layout -->




<div class="layout" data-layout="tilsit">

{% if collections.team.length %}
{% for member in collections.team %}
{% include "partials/member-list.html" %}
{% endfor %}
{% endif %}

</div><!-- layout -->

{% endblock %}
