{% extends "layouts/base.html" %}

{% set pageHeaderTitle = title %}

{% block content %}

<div class="layout" data-layout="raclette">

<div>
<h1>{{ title }}</h1>
{{ main | safe }}
{{ content | safe }}

<hr>

</div><!-- one -->

<div>
<p data-size="s">Kasernenstr. 27<br>
3013 Bern</p>
<p><a href="tel:{{ site.telephone }}" class="alt-tel" data-size="r">{{ site.telephone }}</a></p>

<ul class="alt-inline">
<li><a href="mailto:{{ site.email }}" data-size="s"><svg xmlns="http://www.w3.org/2000/svg" class="icon-social" width="24" viewBox="0 0 32 32"><g fill="none" fill-rule="evenodd"><path class="logo-mark" fill="#16599c" d="M0 16a16 16 0 1 1 32 0 16 16 0 0 1-32 0"/><path fill="#fff" d="M24.8 8.3A1 1 0 0 0 23.5 7L7.1 13.3a1.7 1.7 0 0 0-.1 3l4.5 2.1 4.6-4.6a1.3 1.3 0 0 1 2 1.8l-4.7 4.7 2 4.5a1.7 1.7 0 0 0 3 0z"/></g></svg><span data-visibility="hidden">{{ site.email }}</span></a></li>
<li><a href="{{ site.linkedin }}" data-size="s"><svg xmlns="http://www.w3.org/2000/svg" class="icon-social" width="24" viewBox="0 0 32 32"><g fill="none" fill-rule="evenodd"><path class="logo-mark"  fill="#16599c" d="M16 0a16 16 0 1 0 0 32 16 16 0 0 0 0-32"/><path fill="#fff" d="M26 24q0 .6-.7.7h-2a1 1 0 0 1-.6-.7v-7.3q-.3-1.6-1.8-2.3a2.5 2.5 0 0 0-3.6 2.3V24q0 .6-.6.7h-2a1 1 0 0 1-.7-.7V12q0-.6.7-.7h2q.5 0 .6.7l.2.3h.4c3.8-2.8 8.1-.7 8.1 3.7zM10.7 8v16q0 .6-.7.7H7.3a1 1 0 0 1-.6-.7V8q0-.7.6-.7H10q.6 0 .7.7"/></g></svg><span data-visibility="hidden">LinkedIn</span></a></li>
</ul>

</div><!-- two -->

</div><!-- layout -->




<div class="layout" data-layout="tilsit">

{% if collections.team.length %}
{% for member in collections.team %}
{% include "partials/member-list.html" %}
{% endfor %}
{% endif %}

</div><!-- layout -->

{% endblock %}
