{% extends "layouts/base-reversed.html" %}

{% set memberImage = thumbnail or image %}

{% block content %}

<div class="layout" data-layout="challerhocker">

<div>
{% if memberImage %}
<figure data-style="pattern">
<img src="/images/{{ memberImage }}" alt="{{ name }}">
</figure>
{% endif %}

{% if quote %}
<blockquote>
<svg xmlns="http://www.w3.org/2000/svg" width="65" viewBox="0 0 65 64"><g fill="none"><path class="logo-mark" fill="#16599c" fill-rule="evenodd" d="M57.8 12.7A32 32 0 0 0 36.6.3a32.1 32.1 0 0 0-30.1 51 32 32 0 0 0 21.2 12.4 32 32 0 0 0 30.1-51"/><path fill="#f8f8f8" d="M12 27.7q0-5.9 2.9-8.3 3-2.4 8.8-2.4h7v7H24q-2.1 0-3 .7-1 .7-1 2.5v4.5h10.8V47H12zm22.3 0q0-5.9 2.9-8.3 3-2.4 8.8-2.4h7v7h-6.8q-2.1 0-3 .7-1 .7-1 2.5v4.5H53V47H34.3z"/></g></svg>
<p>{{ quote | safe }}</p>
</blockquote>
{% endif %}
</div><!-- one -->

<div>
<p data-align-h="end"><a href="/about#section-team" class="btn" data-variant="s">&#8592; Back to team</a></p>

{% if role %}<small class="alt-uppercase">{{ role }}</small>{% endif %}

<h1>{{ name }}</h1>

{% if qualifications %}<p data-size="s">{{ qualifications }}</p>{% endif %}

{% if summary %}<p data-size="s">{{ summary }}</p>{% endif %}

{% if bio %}
<p>{{ bio | safe }}</p>
{% endif %}

{{ content | safe }}

<div class="member-contact">
{% if telephone %}<a href="tel:{{ telephone}}">{{ telephone }}</a>{% endif %}

<span>
{% if email %}<a href="mailto:{{ email }}"><svg xmlns="http://www.w3.org/2000/svg" class="icon-social" width="32" viewBox="0 0 32 32"><g fill="none" fill-rule="evenodd"><path class="logo-mark" fill="#16599c" d="M0 16a16 16 0 1 1 32 0 16 16 0 0 1-32 0"/><path fill="#fff" d="M24.8 8.3A1 1 0 0 0 23.5 7L7.1 13.3a1.7 1.7 0 0 0-.1 3l4.5 2.1 4.6-4.6a1.3 1.3 0 0 1 2 1.8l-4.7 4.7 2 4.5a1.7 1.7 0 0 0 3 0z"/></g></svg><span data-visibility="hidden">Email</span></a>{% endif %}

{% if linkedin %}<a href="{{ linkedin }}"><svg xmlns="http://www.w3.org/2000/svg" class="icon-social" width="32" viewBox="0 0 32 32"><g fill="none" fill-rule="evenodd"><path class="logo-mark"  fill="#16599c" d="M16 0a16 16 0 1 0 0 32 16 16 0 0 0 0-32"/><path fill="#fff" d="M26 24q0 .6-.7.7h-2a1 1 0 0 1-.6-.7v-7.3q-.3-1.6-1.8-2.3a2.5 2.5 0 0 0-3.6 2.3V24q0 .6-.6.7h-2a1 1 0 0 1-.7-.7V12q0-.6.7-.7h2q.5 0 .6.7l.2.3h.4c3.8-2.8 8.1-.7 8.1 3.7zM10.7 8v16q0 .6-.7.7H7.3a1 1 0 0 1-.6-.7V8q0-.7.6-.7H10q.6 0 .7.7"/></g></svg><span data-visibility="hidden">LinkedIn</span></a>{% endif %}
</span>

</div><!-- member-contact -->

</div><!-- two -->

</div><!-- layout -->

{% endblock %}
