{% extends "layouts/base-reversed.html" %}

{% set memberImage = thumbnail or image %}

{% block content %}

<div class="layout" data-layout="challerhocker">

<div>
{% if memberImage %}
<figure data-style="pattern">
<img src="/images/{{ memberImage }}" alt="{{ name }}">
</figure>
{% endif %}

{% if quote %}
<blockquote>
<svg xmlns="http://www.w3.org/2000/svg" width="65" viewBox="0 0 65 64"><g fill="none" fill-rule="evenodd"><path fill="#16599c" d="M57.85 12.72A32 32 0 0 0 36.63.31a32 32 0 0 0-23.84 6.16 32 32 0 0 0-8.47 9.51 32 32 0 0 0-4 11.6q-.88 6.2.66 12.24Q2.56 46.1 6.5 51.28a32 32 0 0 0 21.23 12.4 32 32 0 0 0 23.83-6.15 31.7 31.7 0 0 0 12.48-21.11q.87-6.2-.66-12.24a32 32 0 0 0-5.53-11.46"/><path fill="#fbf8f2" fill-rule="nonzero" d="M14 25.84 30.65 11v13.45L15 37.47V26.45l15.64 13.01V53L14 38.07zm19.35 0L50 11v13.45L34.37 37.47V26.45L50 39.46V53L33.35 38.07z"/></g></svg>
<p>{{ quote | safe }}</p>
</blockquote>
{% endif %}
</div><!-- one -->

<div>
<p data-align-h="end"><a href="/contact" class="btn" data-variant="s">&#8592; Zurück zum Team</a></p>

{% if role %}<small class="alt-uppercase">{{ role }}</small>{% endif %}

<h1>{{ name }}</h1>

{% if qualifications %}<p data-size="s">{{ qualifications }}</p>{% endif %}

{% if summary %}<p data-size="s">{{ summary }}</p>{% endif %}

{% if bio %}
<p>{{ bio | safe }}</p>
{% endif %}

{{ content | safe }}

<div class="member-contact">

<span>
{% if telephone %}<a href="tel:{{ telephone}}">
<svg xmlns="http://www.w3.org/2000/svg" class="icon-social" width="32" viewBox="0 0 32 32"><g fill="none"><path class="logo-mark" fill="#16599c" d="M15.5 1a15.5 15.5 0 1 0 0 31 15.5 15.5 0 0 0 0-31"/><path fill="#fbf8f2" fill-rule="evenodd" d="M23.4 25.3h-4.6c-6-.3-10.8-5-11-11V9.7q0-.9.9-1h3.6q.9.1 1 1v3.6q-.1 1-1 1h-1.8c.3 4.4 3.8 8 8.3 8.2v-1.8a1 1 0 0 1 .9-1h3.7q.8.1.9 1v3.7q0 .8-1 .9"/></g></svg><span data-visibility="hidden">{{ telephone }}</span></a>{% endif %}

{% if email %}<a href="mailto:{{ email }}"><svg xmlns="http://www.w3.org/2000/svg" class="icon-social" width="32" viewBox="0 0 32 32"><g fill="none" fill-rule="evenodd"><path class="logo-mark" fill="#16599c" d="M0 16a16 16 0 1 1 32 0 16 16 0 0 1-32 0"/><path fill="#fff" d="M24.8 8.3A1 1 0 0 0 23.5 7L7.1 13.3a1.7 1.7 0 0 0-.1 3l4.5 2.1 4.6-4.6a1.3 1.3 0 0 1 2 1.8l-4.7 4.7 2 4.5a1.7 1.7 0 0 0 3 0z"/></g></svg><span data-visibility="hidden">E-mail</span></a>{% endif %}

{% if linkedin %}<a href="{{ linkedin }}"><svg xmlns="http://www.w3.org/2000/svg" class="icon-social" width="32" viewBox="0 0 32 32"><g fill="none" fill-rule="evenodd"><path class="logo-mark"  fill="#16599c" d="M16 0a16 16 0 1 0 0 32 16 16 0 0 0 0-32"/><path fill="#fff" d="M26 24q0 .6-.7.7h-2a1 1 0 0 1-.6-.7v-7.3q-.3-1.6-1.8-2.3a2.5 2.5 0 0 0-3.6 2.3V24q0 .6-.6.7h-2a1 1 0 0 1-.7-.7V12q0-.6.7-.7h2q.5 0 .6.7l.2.3h.4c3.8-2.8 8.1-.7 8.1 3.7zM10.7 8v16q0 .6-.7.7H7.3a1 1 0 0 1-.6-.7V8q0-.7.6-.7H10q.6 0 .7.7"/></g></svg><span data-visibility="hidden">LinkedIn</span></a>{% endif %}
</span>

</div><!-- member-contact -->

</div><!-- two -->

</div><!-- layout -->

{% endblock %}
