{% extends "layouts/base-reversed.html" %}

{% set serviceName = name or title %}
{% set relatedProjects = collections.projects | filterProjectsByService(serviceName) %}
{% set serviceFaqs = collections.faqs | filterFaqsByService(serviceName) %}

{% block content %}

<div class="layout" data-layout="schabziger">

<div>

{% if image %}
<figure>
<img src="/images/{{ image }}" alt="{{ name or title }}">
</figure>
{% endif %}

</div><!-- one -->

<div>
<h1>{{ name or title }}</h1>

{% if lede %}
{{ lede | safe }}
{% endif %}

{{ content | safe }}

</div><!-- two -->

</div><!-- layout -->




<div class="layout" data-layout="belper-knolle">

{% if aside1 %}<div>
{{ aside1 | safe }}
</div><!-- one -->{% endif %}

{% if aside2 %}<div>
{{ aside2 | safe }}
</div><!-- two -->{% endif %}

</div><!-- layout -->




<hr>

<div class="layout" data-layout="emmentaler">

{% if serviceFaqs.length %}
<div>
<h2>FAQs</h2>

{% for faqItem in serviceFaqs %}
<details>
<summary>{{ faqItem.data.question }}</summary>
<p>{{ faqItem.data.answer }}</p>
</details>
{% endfor %}
</div><!-- one -->
{% endif %}

{% if blockquote %}
<div>
<blockquote>
<svg xmlns="http://www.w3.org/2000/svg" width="65" viewBox="0 0 65 64"><g fill="none" fill-rule="evenodd"><path class="logo-mark" fill="#16599c" d="M57.8 12.7A32 32 0 0 0 36.6.3a32.1 32.1 0 0 0-30.1 51 32 32 0 0 0 21.2 12.4 32 32 0 0 0 30.1-51"/><path fill="#fff" d="m26.8 56.5 6.7-5-4-5.2a14 14 0 0 1-2.7-11 13 13 0 0 1 4.9-8l4.3-3.2 3.3 7.2q.5.8 1.2.8 1 0 1.3-.9l6.4-19.7q.1-.7-.2-1.2t-1.2-.6L25.7 11a1 1 0 0 0-1 .6q-.2.7.4 1.3l6 5.2-4.4 3.4a21 21 0 0 0-8 19.3q.8 6 4.4 11z"/></g></svg>
{{ blockquote | safe }}
</blockquote>
</div><!-- two -->
{% endif %}

</div><!-- layout -->

{% if relatedProjects.length %}
<hr>

<div class="layout" data-layout="fribourgeois">
{% for item in relatedProjects %}
{% if loop.index <= 3 %}
<div>
{% set projectItem = item %}
{% include "partials/project-list.html" %}
</div>
{% endif %}
{% endfor %}
</div><!-- layout -->
{% endif %}

{% endblock %}