{% extends "layouts/base-reversed.html" %}

{% block content %}

<div class="layout" data-layout="sbrinz">

<div>
<h1>{{ title }}</h1>
{% if main %}
{{ main | safe }}
{% endif %}
</div><!-- one -->

<div>
</div><!-- two -->

</div><!-- layout -->


{% if collections.services.length %}

<div class="layout" data-layout="fribourgeois">

{% for serviceItem in collections.services %}
<article class="item-service">
{% if serviceItem.data.image %}
<figure>
<a href="{{ serviceItem.url }}"><img src="/images/{{ serviceItem.data.image }}" alt="{{ serviceItem.data.name or serviceItem.data.title }}"></a>
</figure>
{% endif %}
<h2><a href="{{ serviceItem.url }}">{{ serviceItem.data.name or serviceItem.data.title }}</a></h2>
{% if serviceItem.data.summary %}
<p>{{ serviceItem.data.summary }}</p>
{% endif %}
</article>
{% endfor %}
{% endif %}

</div><!-- layout -->

{{ content | safe }}

{% endblock %}
