<head>

<!-- ********************************************************
Design: Andy Clarke • Stuff & Nonsense
URL: https://stuffandnonsense.co.uk
Development: Sush Kelly • Creativity & Code
URL: https://sushkelly.co.uk
******************************************************** -->

<script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

{% include "partials/meta.html" %}

<meta name="msapplication-TileColor" content="">
<meta name="theme-color" content="">
<meta name="robots" content="index, follow, noodp" />
<meta name="apple-mobile-web-app-title" content="" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="stylesheet" href="/css/critical.css">
</head>
